<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shows/style.css' %}">
</head>
<body>
<h1 class="detailVenueName">{{ concert.venue_name }}</h1>
    <ul id="songList">
        {% for song in concert.song_set.all %}
            <li class="audioTrackName" id="{{ song.song_location }}">{{ song.song_title }}</li>
        {% endfor %}
    </ul>
    
    <audio 
            id="audioPlayer"
            class = "audioPlayer uniqueShowAP detailsAudioPlayer"
            controls <--controlsList="nodownload"
            src="">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
        <script type="text/javascript" src="{% static 'shows/shows.js' %}"></script>
</body>
</html>